:root{
    --general-background-color:#333;
    --calculator-dark-color:#fff;
    --calculator-width:300px;
    --calculator-height:400px;
    --calculator-display-color: #a7af74;
    --calculator-equal-color:#2196f3;
    --key-size:80px;
    --btn-size:60px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: consoles,"Courier New", monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--general-background-color);
}

body.light{
    transition: 0.5s;
    background-color: var(--calculator-dark-color);
}

.container{
    position: relative;
    min-height: var(--calculator-height);
    min-width: var(--calculator-width);
    /* note background 可以使color 也可以不设置color */
    background: var(--general-background-color);
    padding: 40px 30px 30px;
    border-radius: 20px;
    /* note box-shadow: x轴，y轴，模糊度*/
    /* note: 如何做立体效果 */
    box-shadow: 
    25px 25px 75px rgba(0,0,0,0.25),
     10px 10px 70px rgba(0,0,0,0.25),
     /* note inset 添加内置阴影，用来展示凹陷效果 */
     inset -5px -5px 15px rgba(0,0,0,1),
     inset 5px 5px 15px rgba(0,0,0,0.5);
     transition: 0.5s;
    
}

body.light .container{
    background:#fafafa;
    box-shadow: 
    25px 25px 75px rgba(0,0,0,0.15),
     10px 10px 70px rgba(0,0,0,0.15),
     /* note inset 添加内置阴影，用来展示凹陷效果 */
     inset -5px -5px 15px rgba(0,0,0,15),
     inset 5px 5px 15px rgba(0,0,0,0.05);
     
}

/* note:用grid */
.calculator {
    position: relative;
    display: grid;
}

/* note: 设置计算器里面的值 */
.calculator .value {
    padding: relative;
    grid-column: span 4;
    height: 100px;
    left: 10px;
    width: calc(100% - 20px);
    border: none;
    /* note 因为是input，所以取消input 的默认格式用outline */
    outline: none;
    /* note设置液晶屏颜色 */
    background-color: var(--calculator-display-color);
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 
    inset 2px 2px 10px #bebebe,
    inset -2px -2px 10px #fff;
    /* 设置字体显示是在右边 */
    text-align: right;
    font-size: 2rem;
    padding: 10px;
}


/* note： 调试下面的按键 */
.calculator span {
    position: relative;
    display: grid;
    /* note自动让按键居中 */
    place-items: center;
    /* note 设置案件的宽高 */
    width: var(--key-size);
    height: var(--key-size);
    color: var(--calculator-dark-color);
    /* note margin 设置成动态 */
    margin: calc(var(--key-size)/10);
    /* note : 如何使用渐变色 */
    /* 默认设置渐变从上到下 */
    /* background: linear-gradient(#3f3f3f,#2f2f2f); */
    /* 还可以设置方向 从左到右*/
    /* background: linear-gradient(to right,#3f3f3f,#2f2f2f); */
    /* 从左下角到右下角 */
    /* background: linear-gradient(to bottom right,#3f3f3f,#2f2f2f); */
    /* 还可以调节角度 */
    /* note 深色一律写在前，浅色一律写在后，适合调角度 */
    background: linear-gradient(180deg,#3f3f3f,#2f2f2f);
    box-shadow: 
    inset -8px 0 8px rgba(0,0,0,0.15),
    inset 0,-8px 8px rgba(0,0,0,0.25),
    0 0 2px rgba(0, 0, 0, 0.2),
    10px 20px 25px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    /* note设置none 则用户不可以通过鼠标选中该数字 */
    user-select: none;
    cursor: pointer;
    font-weight: 500;
    z-index: 1;
}

/* note如何在方框上再加一层方框 */
.calculator span::before{
    /* note设置before after 要在前面设置内容是空 */
    content: '';
    /* before after 的absolute 是相对于自己本身的 */
    /* 但是设置absolute 之后，会单独浮出来，把其他的遮盖掉 */
    position: absolute;
    top: calc(var(--calculator-width) / 100);
    left: calc(var(--calculator-height)/100);
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg, #2d2d2d,#4d4d4d);
    border-radius: 10px;
    box-shadow: 
    -5px -5px 15px rgba(0, 0, 0, 0.1),
    10px 5px 10px rgba(0,0,0,0.15);
    border-left: 1px solid #0004;
    border-top: 1px solid #0004;
    border-bottom: 1px solid #0004;
    
}

.calculator span:active {
    /* 增加明亮度 */
    filter: brightness(1.5);
}

.calculator span i {
    /* todo 因为i 是在span 的上面，所以i 设置relative 之后，就浮出来 */
    position: relative;
    font-size: 1.2rem;
    text-transform: uppercase;

}

/* note 更换c键 */
.calculator .clear{
    grid-column: span 2;
    width: 185px;
    /* note 在这里不能使用background color ，因为这个事由渐变产生的，而不是颜色，因此更替颜色无法起作用 */
    background: #f00;
}

.calculator .clear::before{
   background: linear-gradient(90deg, #d20000,#ffffff5c);
   border-left: 1px solid #fff4;
   border-top: 1px solid #fff4;
   border-bottom: 1px solid #fff4;
}

.calculator .plus{
    grid-row: span 2;
    height: 176px;
}

.calculator .equal{
    background: var(--calculator-equal-color);
}

.calculator .equal::before{
    background: linear-gradient(90deg,#1479c9,#ffffff5c);
    border-left: 1px solid #fff4;
    border-top: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
}

.btn {
    position: absolute;
    top: 20px;
    right: 20px;
    height: var(--btn-size);
    width: var(--btn-size);
    background: var(--general-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
    5px 5px 30px rgba(0, 0, 0, 0.25),
    inset -2px -2px 5px rgba(0, 0, 0, 0.25),
    inset 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.btn img {
    filter: invert(1);
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.btn img:nth-child(2) {
    display: block;
}

.btn img:nth-child(1) {
    display: none;
}

/* note light version */
body.light .btn img:nth-child(2) {
    display: none;
}

body.light .btn img:nth-child(1) {
    display: block;
}